* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    color: #444;
    margin: 0 10px;
    font-family: sans-serif;
    line-height: 1.6;
    border-top: 10px solid #10ad5c;
}

.container {
    width: 1200px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

nav {
    font-size: 18px;
}

.link {
    padding: 10px;
}

h1,
h2,
h3 {
    color: #10ad5c;
}

.page-title {
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-style: italic;
    font-size: 26px;
}

.p-style {
    color: red;
    font-size: 22px;
    line-height: 1.5;
}

li {
    list-style: none;
}

.author {
    margin-bottom: 0;
    margin-left: 15px;
    font-style: italic;
    font-size: 18px;
}

.post-img {
    width: 100%;
    height: auto;
}

a {
    color: #10ad5c;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    background-color: black;
}

.main-article {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 10px;
}

.related-posts {
    background-color: #f7f7f7;
    border-top: 3px solid #10ad5c;
}

button {
    font-size: 22px;
    padding: 20px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
}

footer {
    border-top: 3px solid #10ad5c;
}